

h2 {
  color: tomato;
  font-size: 24;
}

.container-age {
  font-size: 20;
  color : brown;
}



.container {
  display: flex;
  justify-content:center;
  align-items:center;

}

.card {
  margin-right: 70px;
}
